* {
    font-family: serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: saddlebrown;
    color: linen;
    text-align: center;
    margin: auto;
    max-width: 700px;
    font-size: 1.2em;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

h1 {
    font-size: 1.7;
}

button {
    background-color: saddlebrown;
    color: linen;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
}

.choices-div {
    display: flex;
    flex-direction: column;
}

.choices {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.restart-button {
    position: fixed;
    top: 0;
    right: 0;
}

.hidden {
    display: none;
}